// 전체 설정 - 기본 PC 기준
.back {
  display: flex;
  justify-content: center;
}

.mypage-wrapper {
  font-family: 'Noto Sans KR', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  width: 95vw;
  max-width: 1300px;

  // 머리
  .mypage-header{
    display: flex;
    flex-direction: row;
    
    justify-content: flex-start;

    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    margin: 20px;
    padding: 10px;

    // 프로필 크기
    img {
      height: 80px;
      border-radius: 40px;
    }
    
    // 이름 + 수정버튼
    .name-button {
      margin-left: 15px;

      height: auto;
      width: auto;
      flex-direction: column;
      
      // 수정버튼
      Button {
        background-color: white;
        margin: 10px 5px;
        font-size: 0.8rem;
        border-radius: 20px;
    
        height: 30px;
        width: 120px;
      }
    }

  }

  // 몸통
  .mypage-body {
    display: flex;
    margin: 0 20px 20px 20px;
    justify-content: center;
    min-height: auto;

    flex-direction: column;

    // 단어 문장 <-> 일기 전환 버튼
    .switch {
      display: flex;
      justify-content: flex-start;

      // 버튼 
      Button {
        background-color: white;
        border-radius: 20px;
        margin: 10px;
      }
    }
    
    // 달력 + 학습 내역
    .cal-study {
      display: flex;
      flex-direction: row;
      justify-content:center;
      min-height: auto;

      // 달력
      .calender {
        display: flex;
        justify-content: center;
        
        width: 40vw;

        border: 1px solid black;
        border-radius: 20px;

        margin: 10px;
      }
      
      // 학습내역
      .study {
        background-color: white;
        width: 50vw;
        max-width: 750px;
  
        border: 1px solid black;
        border-radius: 20px;

        margin: 10px;
        flex-direction: column;
        
        .date {
          margin: 10px;
          font-size: 1.3rem;
        }

        .word-sentence {
          margin: 10px;
          font-size: 1.1rem;

          .word {
            margin: 10px;
            padding: 10px;
            border: 1px solid black;
            border-radius: 20px;

            .box {
              display: flex;
              flex-direction: column;
              min-height: 4vh;
            }
          }

          .sentence {
            margin: 10px;
            padding: 10px;
            border: 1px solid black;
            border-radius: 20px;

            .box {
              display: flex;
              flex-direction: column;
              min-height: 4vh;
            }
          }
        }

        .diary {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          .button {
            display: flex;
            justify-content: flex-end;

            Button {
              border-radius: 20px;
            }
          }

          .img-content {
            display: flex;
            flex-direction: row;

            img {
              width: 20vw;
              
              border-radius: 20px;
              margin: 10px;
            }
  
            .content {
              border: 1px solid black;
              border-radius: 20px;
              margin: 10px;
              padding: 10px;
              font-size: 1rem;
              text-align: start;

              width: 18vw;
            }
          }
          
          .word {
            border: 1px solid black;
            border-radius: 20px;
            font-size: 1rem;
            
            min-height: 5vh;
            width: 42vw;

            margin: 10px;
          }

          .emotion{
            img {
              width: 5vw;
            }
          }
        }
      }
    }
  }
}

// PC 기준
@media all and (min-width: 821px) {
  .background {
    background-image: url("../../../public/assets/mainback2.PNG");
    
    min-height: 100vh;
    height: auto;
  }

  // 최대 크기 제한
  .mypage-wrapper{
    .mypage-body {
      .cal-study {
        .study {
          .diary{
            .img-content{
              max-width: 680px;

              img {
                max-width: 300px;
              }

              .content{
                max-width: 300px;
              }
            }

            .word {
              max-width: 650px;
            }
          }
        }
      }
    }
  }
}

// 모바일 기준
@media all and (max-width: 821px) {
  .background {
    background-image: url("../../../public/assets/mainback2.PNG");
    
    min-height: 100vh;
    height: auto;
  }


  .mypage-wrapper{
    .mypage-body {
      height: auto;
  
      .cal-study {
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .calender {
          width: 80vw;
        }
  
        .study {
          width: 80vw;
          
          .diary{
            .img-content{
              flex-direction: column;

              img {
                width: 70vw;
              }

              .content{
                width: 67vw;
                height: 50vh;
              }
            }

            .word {
              width: 70vw;
            }
          }
        }
      }
    }
  }
}