// 전체 설정 - 기본 PC 기준
.back {
  display: flex;
  justify-content: center;
}

// 전체 크기
.diary-wrapper {
  width: 95vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  // 머리말
  .diary-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2.5vw;
    font-weight: bold;
    margin: 15px 0;

    // 날짜
    .date {
      font-size: 2vw;
      margin-top: 10px;
    }

    // 감정선택 + 머리글 들어있는 박스
    .headbox {
      display: flex;
      flex-direction: column;
    }

    // 감정 선택 box 
    .emo {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      width: 450px;

      border: 1px solid black;
      border-radius: 20px;
      padding: 5px;
      background-color: greenyellow;
    }
    
    // 감정 선택
    .emotion {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 5px;
      font-size: 1rem;
      border-radius: 20px;
      background-color: white;

      height: 90px;
      width: 75px;

      border: 1px solid black;

      // 감정 이미지
      img {
        width: 50px;
      }
    }

    // 라디오 버튼 없앰
    .btn {
      display: none;
    }

    // 마우스 올리면 대면 효과
    .emotion:hover {
      box-shadow: 0 0 0 max(4px, 0.2em) lightgray;
      cursor: pointer;
    }

    // 체크시 css 변경
    input:checked + label {
      border: 1px solid black;
      background-color: rgb(186, 206, 224);
      color: white;
    }
  }

  // 기본 몸통
  .diary-body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;

    border: 1px solid black;
    border-radius: 20px;
    background-color: greenyellow;
    padding-top: 10px;
  
    // 글상자
    .text {
      display: flex;
      justify-content: center;
      align-items: center;

      // 사진
      img {
        width: 43vw;
        max-width: 800px;
        height: 43vh;
        max-height: 600px;
      
        border: 1px solid black;
        border-radius: 20px;

        object-fit: fill;
        margin: 10px;
      }

      // 글상자
      textarea {
        padding: 15px;
        width: 40vw;
        max-width: 770px;
        height: 40vh;
        max-height: 570px;

        resize: none;
        font-size: 1.8vw;

        border-radius: 20px;
        margin: 10px;
      }

      // 문법 수정 글상자
      .checked {
        display: flex;
        flex-wrap: wrap;
        overflow: auto;

        background-color: white;
        justify-content: center;

        padding: 15px;

        height: 40vh;
        width: 40vw;

        font-size: 1.8vw;

        border: 1px solid black;
        border-radius: 20px;
        margin: 10px;
      }

      // 스크롤바 없앰
      .checked::-webkit-scrollbar {
        display: none;
      }

      // 일기 결과 글상자
      .content {
        display: flex;
        background-color: white;
        text-align: start;

        padding: 15px;
        height: 40vh;
        width: 40vw;

        font-size: 1.8vw;

        border: 1px solid black;
        border-radius: 20px;
        margin: 10px;
      }
    }
  }

  // img 만 있는 body
  .img-body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;

    border: 1px solid black;
    border-radius: 20px;
    background-color: greenyellow;
    padding: 10px;
   

    img {
      width: 43.5vw;
      max-width: 500px;

      border: 1px solid black;
      border-radius: 20px;

      object-fit: fill;
      margin: 10px;
    }
  }

  // 단어 선택
  .words {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;

    .keyword-check {
      background-color: white;

      display: flex;
      flex-wrap: wrap;
      border: 1px solid black;
      border-radius: 20px;

      height: auto;
      min-height: 50px;
      width: 80vw;

      // 체크 박스
      .check-button {
        display: flex;
        align-items: center;

        margin: 5px;
        padding: 5px;

        border: 1px solid black;
        border-radius: 20px;

        height: 2vh;

        font-size: 1.5vw;

        // 좌우 여백
        span {
          padding-left: 2vw;
          padding-right: 2vw;
        }
      }

      // 체크박스 없앰
      .btn {
        display: none;
      }
      
      // 호버 효과
      .check-button:hover {
        box-shadow: 0 0 0 max(4px, 0.2em) lightgray;
        cursor: pointer;
      }
      
      // 체크시 css 변경
      input:checked + label {
        border: 1px solid black;
        background-color: rgb(186, 206, 224);
        color: white;
        font-weight: bold;
      }
    }

    // 선택한 단어들
    .word {
      background-color: white;

      display: flex;
      align-items: center;
      flex-wrap: wrap;

      border: 1px solid black;
      border-radius: 20px;

      height: auto;
      min-height: 50px;
      width: 80vw;

      // 각각의 단어
      .word-list {
        display: flex;
        align-items: center;
        justify-content: center;

        margin: 10px;
        padding: 10px;

        border: 1px solid black;
        border-radius: 20px;

        height: 2vh;
        font-size: 1.5vw;

        // 좌우 여백
        span {
          display: flex;
          padding-left: 1vw;
          padding-right: 1vw;
        }
      }
    }
  }

  .button {
    display: flex;
    justify-content: center;
  }

  // 버튼 공통 설정
  Button {
    background-color: #42a5f5;
    border: none;
    color: white;

    margin: 10px 5px;
    font-size: 1.5vw;
    border-radius: 20px;

    min-height: 5vh;
    min-width: 20vw;
  }

  Button:hover {
    background-color: rgb(186, 206, 224);
    box-shadow: 0 0 0 max(4px, 0.2em) lightgray;
  }
}

// 반응형 설정

// PC 기준
@media all and (min-width: 821px) {
  .background {
    background-image: url("../../../public/assets/mainback2.PNG");

    min-height: 100vh;
    height: auto;
  }
}

// 모바일 기준
@media all and (max-width: 821px) {
  .background {
    background-image: url("../../../public/assets/mainback2.PNG");

    min-height: 100vh;
    height: auto;
  }

  .diary-wrapper {
    .diary-body {
      height: auto;

      .text {
        flex-direction: column;
        justify-content: center;

        img {
          width: 84vw;
        }

        textarea {
          width: 80vw;
          font-size: 3vw;
        }

        .checked {
          width: 80vw;
          font-size: 3vw;
        }

        .content {
          width: 80vw;
          font-size: 3vw;
        }
      }
    }

    .img-body {
      img {
        width: 80vw;
      }
    }
  }
}
