// 전체 설정 - 기본 PC 기준
.back {
  display: flex;
  justify-content: center;
}

.diary-wrapper {
  font-family: "KOTRAHOPE";

  width: 95vw;

  // 머리말
  .diary-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2.5vw;
    font-weight: bold;
    margin: 15px 0;

    // 날짜
    .date {
      font-size: 2vw;
      margin-top: 10px;
    }

    // 감정 선택
    .emotion {
      display: flex;
      flex-direction: column;
      max-width: 400px;
      align-items: center;
      margin: 10px;
      font-size: 2vw;
      img {
        width: 50px;
      }
    }
  }

  // 기본 몸통
  .diary-body {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    height: 55vh;

    flex-direction: column;

    // 글상자
    .text {
      display: flex;
      justify-content: center;
      align-items: center;

      // 사진
      img {
        width: 43vw;
        height: 43vh;

        border: 1px solid black;
        border-radius: 20px;

        object-fit: fill;
        margin: 10px;
      }

      // 글상자
      textarea {
        padding: 15px;
        height: 40vh;
        width: 40vw;

        resize: none;
        font-size: 1.8vw;

        border-radius: 20px;
        margin: 10px;
      }

      // 문법 수정
      .checked {
        display: flex;
        flex-wrap: wrap;
        overflow: auto;

        background-color: white;
        justify-content: center;

        padding: 15px;

        height: 40vh;
        width: 40vw;

        font-size: 1.8vw;

        border: 1px solid black;
        border-radius: 20px;
        margin: 10px;
      }

      .checked::-webkit-scrollbar {
        display: none;
      }

      .content {
        display: flex;
        background-color: white;
        text-align: start;

        padding: 15px;
        height: 40vh;
        width: 40vw;

        font-size: 1.8vw;

        border: 1px solid black;
        border-radius: 20px;
        margin: 10px;
      }
    }
  }

  // img 만 있는 body
  .img-body {
    img {
      width: 43.5vw;

      border: 1px solid black;
      border-radius: 20px;

      object-fit: fill;
      margin: 10px;
    }
  }

  // 단어 선택
  .words {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .keyword-check {
      background-color: white;

      display: flex;
      flex-wrap: wrap;

      margin: 10px 0;
      border: 1px solid black;
      border-radius: 20px;

      height: auto;
      min-height: 50px;
      width: 85vw;

      // 체크 박스
      .check-button {
        display: flex;
        align-items: center;

        margin: 10px;
        padding: 10px;

        border: 1px solid black;
        border-radius: 20px;

        height: 2vh;

        font-size: 1.5vw;

        // 좌우 여백
        span {
          padding-left: 2vw;
          padding-right: 2vw;
        }
      }
    }

    // 선택한 단어들
    .word {
      background-color: white;

      display: flex;
      align-items: center;
      flex-wrap: wrap;

      border: 1px solid black;
      border-radius: 20px;

      height: auto;
      min-height: 50px;
      width: 85vw;

      // 각각의 단어
      .word-list {
        display: flex;
        align-items: center;
        justify-content: center;

        margin: 10px;
        padding: 10px;

        border: 1px solid black;
        border-radius: 20px;

        height: 2vh;
        min-width: 8vw;

        font-size: 1.5vw;

        // 좌우 여백
        span {
          display: flex;
          padding-left: 1vw;
          padding-right: 1vw;
        }
      }
    }
  }

  .button {
    display: flex;
    justify-content: center;
  }

  // 버튼 공통 설정
  Button {
    background-color: white;

    margin: 10px 5px;
    font-size: 1.5vw;
    border-radius: 20px;

    min-height: 5vh;
    min-width: 20vw;
  }
}

// 반응형 설정

// PC 기준
@media all and (min-width: 821px) {
  .background {
    background-image: url("../../../public/assets/mainback2.PNG");

    min-height: 100vh;
    height: auto;
  }
}

// 모바일 기준
@media all and (max-width: 821px) {
  .background {
    background-image: url("../../../public/assets/mainback2.PNG");

    min-height: 100vh;
    height: auto;
  }

  .diary-wrapper {
    .diary-body {
      height: auto;

      .text {
        flex-direction: column;
        justify-content: center;

        img {
          width: 84vw;
        }

        textarea {
          width: 80vw;
          font-size: 3vw;
        }

        .checked {
          width: 80vw;
          font-size: 3vw;
        }

        .content {
          width: 80vw;
          font-size: 3vw;
        }
      }
    }

    .img-body {
      img {
        width: 80vw;
      }
    }
  }
}
